.beatDetector {
    /* background: grey; */
    border: 2px solid black;
    
    height: 100%;
    width: 100%;
}
body, html {
    /* background: grey; */
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}